@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContexto;

@{
    var logado = 0;
    var nomeUsuario = string.Empty;

    try
    {
        logado = (int)HttpContexto.HttpContext.Session.GetInt32(PetsOn.Helpers.Sessao.LOGADO);
        if (logado == 1)
        {
            nomeUsuario = HttpContexto.HttpContext.Session.GetString(PetsOn.Helpers.Sessao.NOME_USUARIO);
        }
    }
    catch
    {
        HttpContexto.HttpContext.Response.Redirect("/Login");
    }
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetsOn</title>
    <link rel="icon" href="~/img/favicon-01.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap' rel='stylesheet' type='text/css'>

    <!----======== CSS ======== -->
    <link href='~/css/siteLayoutMenu.css' rel='stylesheet'>
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <nav id="wrapper" class="sidebar close">
        <header>

            <div class="image-text">
                <span class="image">
                    <img src="~/img/icon-petson.svg" alt="Logo">
                </span>

                <span class="text logo-text">
                    <img class="image" src="~/img/iogotipo-petson.svg" width="150" alt="Logo">
                </span>
            </div>


            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                    <li class="search-box">
                    <i class='bx bx-search-alt-2 icon'></i>
                        <input type="text" placeholder="Buscar...">
                    </li>

                <ul class="menu-links">

                    <li class="bottom-content">
                        <i class= 'bx bx-log-in icon'></i>
                        <span class="text">Olá<br>@nomeUsuario</span>
                    </li>

                    <li class="bottom-content">
                        <a href="#">
                            <i class='bx bx-calendar icon'></i>
                            <span class="text nav-text icon">Agenda</span>
                        </a>
                    </li>

                    <li class="bottom-content">
                        <a asp-area="" asp-controller="Cliente" asp-action="index">
                            <i class='bx bx-user btn-icon icon'></i>
                            <span class="text nav-text">Cliente</span>
                        </a>
                    </li>

                    <li class="bottom-content">
                        <a asp-area="" asp-controller="Animal" asp-action="index">
                            <i class='bx bxs-dog icon'></i>
                            <span class="text nav-text">Pets</span>
                        </a>
                    </li>

                    <li class="bottom-content">
                        <a asp-area="" asp-controller="Animal" asp-action="index">
                            <i class='bx bx-bookmark-plus icon'></i>
                            <span class="text nav-text">Serviço</span>
                        </a>
                    </li>

                    <li class="bottom-content">
                        <a href="#">
                            <i class='bx bx-spreadsheet icon'></i>
                            <span class="text nav-text">Ordem Serviço</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a onclick="Login()">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>

        <main role="main">
            @RenderBody()
        </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/siteLayoutMenu.js"></script>
    <script src="~/js/validacoesForms.js"></script>
    <script src="~/js/functionspathsviews.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
