<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetsOn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PetsOn.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap' rel='stylesheet' type='text/css'>
    <link rel="icon" href="~/img/favicon-01.png" type="image/x-icon" />
</head>

<body>
    <header>

        <nav class="navbar fixed-top padding-top position-sticky navbar-expand-sm navbar-dark bg-dark align-items-center">
            <div class="container-fluid">
                <a class="navbar-brand mb-0 h1" asp-area="" asp-controller="home" asp-action="index"><img class="d-inline-block align-top align-bottom" src="..\img\logo-petson-anc1.svg" alt="logo PetsOn" width="245" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarsupportedcontent"
                        aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-middle nav-item">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Políticas de uso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Petshop" asp-action="Cadastro">Cadastre-se</a>
                        </li>
                    </ul>
                    <a>&nbsp;&nbsp;</a>
                    <br>
                    <a class="nav-item" id="navLogin">
                        <a type="button" id="btnFetch" class="btn btn-outline-warning" asp-controller="Login" asp-action="Login">&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</a>
                    </a>
                    <br>
                    <a>&nbsp;&nbsp;</a>
                </div>
            </div>
        </nav>

    </header>

    @* <div class="container">*@
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-lg-center bg-secondary text-white">
        <div class="container">
            &copy; 2022 &nbsp; | &nbsp;  PetsOn &nbsp | &nbsp <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Políticas de Uso</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
