@{
    ViewData["Title"] = "PetsOn - Erro";
    Layout = (string)"_LayoutLogin";
}

<div class="wrapperModal">
    <div>
        <img src="../img/logo-petson-apc1.svg" alt="logo PetsOn">
    </div>
    <div class="text-center mt-4 name">
        Ocorreu um erro na aplicação... Entre em contato com o administrador!
    </div>
    <br>
</div>

