@{
    ViewData["title"] = "Cadastro Usuário e Petshop";
}

@model PetsOn.Models.UsuarioPetshopViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="container py-4 text-center">

        <h3 class="p-4 mb-5 text-white bg-warning bg-opacity-75">Cadastro de Usuários</h3>

        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <div>
                Para obter o acesso ao nosso sistema de gestão de Pet Shops, primeiramente precisamos realizar o seu cadastro.&nbsp;
                Atenção! &nbsp;Seus dados pessoais estarão protegidos, nos termos da Lei 13.709/2018.
            </div>
        </div>
    </section>

    <!-- Section: Design Block -->
    <section class="text-center text-lg-start">

        <!-- Jumbotron -->
        <div class="container py-4">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card cascading-right">
                        <div class="card-body p-5 shadow-5 text-center">
                            <h2 class="fw-bold mb-5">Preencha o formulário</h2>

                            @Html.ValidationSummary(true)

                            <form asp-action="Cadastro" asp-controller="Petshop" method="post" autocomplete="off">

                                <!-- 2 column grid layout with text inputs for the first and last names -->

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-floating">
                                            <input asp-for="Nome" type="text" class="form-control" id="floatingNome" placeholder="Nome">
                                            <label for="floatingNome">Nome</label>
                                            <span asp-validation-for="Nome" class="text-danger small"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-floating">
                                            <input asp-for="Sobrenome" type="text" class="form-control" id="floatingSobrenome" placeholder="Sobrenome">
                                            <label for="floatingSobrenome">Sobrenome</label>
                                            <span asp-validation-for="Sobrenome" class="text-danger small"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Email input -->
                                <div class="col mb-4">
                                    <div class="form-floating">
                                        <input asp-for="Email" type="text" class="form-control" id="floatingEmail" placeholder="E-mail">
                                        <label for="floatingEmail">E-mail</label>
                                        <span asp-validation-for="Email" class="text-danger small"></span>
                                    </div>
                                </div>

                                <!-- Password input -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-floating">
                                            <input asp-for="Senha" class="form-control" id="floatingSenha" placeholder="Senha" type="password">
                                            <label for="floatingSenha">Senha</label>
                                            <span asp-validation-for="Senha" class="text-danger small"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-floating">
                                            <input asp-for="ConfirmaSenha" class="form-control" id="floatingConfirmaSenha" placeholder="Confirmar Senha" type="password">
                                            <label for="floatingConfirmaSenha">Confirmar Senha</label>
                                            <span asp-validation-for="ConfirmaSenha" class="text-danger small"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Nome da Empresa input -->
                                <div class="col mb-4">
                                    <div class="form-floating">
                                        <input asp-for="Nome_Empresa" type="text" class="form-control" id="floatingEmpresa" placeholder="Nome da empresa">
                                        <label for="floatingEmpresa">Nome da empresa</label>
                                        <span asp-validation-for="Nome_Empresa" class="text-danger small"></span>
                                    </div>
                                </div>

                                <!-- CNPJ e website da Empresa input -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-floating">
                                            <input asp-for="Cnpj" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" class="form-control" id="floatingCnpj" placeholder="CNPJ">
                                            <label for="floatingCnpj">CNPJ</label>
                                            <span asp-validation-for="Cnpj" class="text-danger small"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-floating">
                                            <input asp-for="Web_Site" type="text" class="form-control" id="floatingWebSite" placeholder="Web Site">
                                            <label for="floatingWebSite">Web Site</label>
                                            <span asp-validation-for="Web_Site" class="text-danger small"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Descricao da Empresa input -->
                                <div class="col mb-4">
                                    <div class="form-floating">
                                        <textarea asp-for="Descricao" type="text" class="form-control" placeholder="Descrição da empresa" id="floatingDescricao" style="height: 100px"></textarea>
                                        <label for="floatingDescricao">Descrição da empresa</label>
                                        <span asp-validation-for="Descricao" class="text-danger small"></span>
                                    </div>
                                </div>

                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-left col mb-4">
                                    <div>
                                        <input class="form-check-input me-2" type="checkbox" value="" id="checkNotified" checked />
                                        <label class="form-check-label" for="checkNotified">Concordo com termos de uso e desejo receber informativos.</label>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <a>&nbsp;&nbsp;</a>
                                <br>
                                @*<a class="nav-item" id="navLogin">*@
                                <button type="submit" class="btn btn-outline-warning">&nbsp;&nbsp;&nbsp;Cadastrar&nbsp;&nbsp;&nbsp;</button>
                                @*</a>*@
                                <br>
                                <a>&nbsp;&nbsp;</a>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img src="../img/dog-banho.jpg" class="w-100 rounded-4 shadow-4" alt="imagem cachorrinho" />
                </div>
            </div>
        </div>
    </section>
}