@{
    ViewData["Title"] = "Login";
    Layout = (string)"_LayoutLogin";
}

@model PetsOn.Models.LoginViewModel

<div class="wrapper">
    <div>
        <a asp-action="index" asp-controller="home"><img src="../img/logo-petson-apc1.svg" alt="logo PetsOn"></a>
    </div>
    <div class="text-center mt-4 name">
        Login do sistema
    </div>


    <form asp-action="Login" asp-controller="Login" method="post" class="p-3 mt-3" autocomplete="off">
        <span asp-validation-for="Email" class="text-warning small"></span>
        <div class="form-field d-flex align-text-top">
            <input asp-for="Email" id="email" type="text" placeholder="E-mail">
        </div>
        <span asp-validation-for="Senha" class="text-warning small"></span>
        <div class="form-field d-flex align-text-top">
            <input input asp-for="Senha" id="senha"type="password" placeholder="Senha">
        </div>
        <div>
            <button type="submit" @*id="btnFetchEntrar"*@ class="btn btn-warning">&nbsp;&nbsp;Entrar</button>
            <span id="erroLogin" class="text-warning small">@ViewData["ErroLogin"]</span>
        </div>

    </form>
    <div class="text-center fs-6">
        <a href="#">
            Esqueceu a senha?
        </a> Ou <a asp-controller="Petshop" asp-action="Cadastro">Cadastre-se</a>
    </div>
</div>


