@{
    ViewData["Title"] = "Bem vindo ao PetsOn";
    Layout = (string)"_LayoutLogin";
}

<div class="wrapperModal">
    <div>
        <img src="../img/logo-petson-apc1.svg" alt="logo PetsOn">
    </div>
    <div class="text-center mt-4 name">
        Seu cadastro foi realizado com sucesso!
    </div>
    <br>
    <button type="button" id="btnFetch" class="btn btn-warning" onclick="Login()">Ir para o Login</button>
</div>
