@{
    ViewData["Title"] = "Cadastro de Pets";
    Layout = (string)"_LayoutMenu";
}

@model PetsOn.Models.AnimalViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="container py-4 text-center">

        <h3 class="p-4 mb-5 text-white bg-warning bg-opacity-75">Cadastro de Pets</h3>

        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <div>
                Antes de dar entrada em uma ordem de serviço, cadastre o pets do cliente.
            </div>
        </div>
    </section>

    <!-- Section: Design Block -->
    <section class="text-center text-lg-start">

        <!-- Jumbotron -->
        <div class="container py-4">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card cascading-right">
                        <div class="card-body p-5 shadow-5 text-center">
                            <h2 class="fw-bold mb-5">Preencha o formulário</h2>

                            @Html.ValidationSummary(true)

                            <form asp-action="AnimalCadastro" asp-controller="Animal" method="post" autocomplete="off">

                                <input type="hidden" asp-for="Codigo_Animal" value="@Model.Codigo_Animal" />
                                <input type="hidden" asp-for="Codigo_Cliente" value="@Model.Codigo_Cliente" />

                                <!-- Nome e Idade do Animal input -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-floating">
                                            <input asp-for="Nome_Animal" type="text" class="form-control" id="floatingNomedoPet" placeholder="Nome do Pet">
                                            <label for="floatingNomedoPet">Nome do Pet</label>
                                            <span asp-validation-for="Nome_Animal" class="text-danger small"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-floating">
                                            <input asp-for="Idade" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="floatingIdade" placeholder="Idade do Pet">
                                            <label for="floatingIdade">Idade do Pet</label>
                                            <span asp-validation-for="Idade" class="text-danger small"></span>
                                        </div>
                                    </div>

                                </div>

                                <!-- Raça -->
                                <div class="col mb-4">
                                    <div class="form-floating">
                                        <textarea asp-for="Raca" type="text" class="form-control" placeholder="Raça do Pet" id="floatingObservacao" style="height: 100px"></textarea>
                                        <label for="floatingObservacao">Raça do Pet</label>
                                        <span asp-validation-for="Raca" class="text-danger small"></span>
                                    </div>
                                </div>

                                <!-- Observacao do Pet input -->
                                <div class="col mb-4">
                                    <div class="form-floating">
                                        <textarea asp-for="Observacao" type="text" class="form-control" placeholder="Observações do pet" id="floatingObservacao" style="height: 100px"></textarea>
                                        <label for="floatingObservacao">Observações do pet</label>
                                        <span asp-validation-for="Observacao" class="text-danger small"></span>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <br>
                                <button type="submit" class="btn btn-block btn-warning btn-custom-cadastro"><span class='bx bxs-dog icon' aria-hidden="true"></span>&nbsp;Cadastrar</button>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img src="~/img/salsicha1.jpg" class="w-100 rounded-4 shadow-4" alt="imagem cachorrinho" />
                </div>
            </div>
        </div>
    </section>
}

